.dashboard-Aluno {
  font-family: 'Arial', sans-serif;
  background-color: #ebf4ff;
  padding: 20px;
  border-radius: 10px;
}

.header-Aluno {
  text-align: right;
  color: #fff;
  background: linear-gradient(135deg, #16BCBB, #087E8B);
  padding: 15px;
  border-radius: 10px
}

.header-Aluno h1 {
  margin: 0;
}

.main-section-Aluno {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-section-Aluno {
  width: 65%;
}

.top-section-Aluno {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-box-Aluno {
  background-color: #fff;
  border: 2px solid #087E8B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  text-align: center;
}

.stat-number-Aluno {
  font-size: 48px;
  color: #000;
}

.stat-box-Aluno p {
  font-size: 20px;
  color: #000000;
}

.stat-box-Aluno h2 {
  font-size: 16px;
  color: #333;
}

.bottom-section-Aluno {
  background-color: #fff;
  border: 2px solid #087E8B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.bottom-section-Aluno h2 {
  font-size: 16px;
  color: #333;
}

.subject-Aluno {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-section-Aluno {
  width: 30%;
}

.recent-activities-Aluno, .works-Aluno {
  background-color: #fff;
  border: 2px solid #087E8B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.recent-activities-Aluno h2, .works-Aluno h2 {
  font-size: 16px;
  color: #333;
}

.recent-activities-Aluno li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 5px;
  border-radius: 5px;
}

.recent-activities-Aluno ul {
  list-style-type: none;
  padding: 0;
}

.work-Aluno {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-box-Aluno, .bottom-section-Aluno, .recent-activities-Aluno, .works-Aluno {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.stat-box-Aluno:hover, .bottom-section-Aluno:hover, .recent-activities-Aluno:hover, .works-Aluno:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #16BCBB;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #087E8B, 0 0 10px #16BCBB;
  }

  50% {
    box-shadow: 0 0 20px #087E8B, 0 0 40px #16BCBB;
  }

  100% {
    box-shadow: 0 0 5px #087E8B, 0 0 10px #16BCBB;
  }
}